* {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.container {
    position: relative;
    max-width: 480px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 25px;
    margin: 85px auto 0;
}

.container .input-field {
    position: relative;
    height: 54px;
    width: 100%;
}

.input-field textarea:focus {
    border-color: #7ddbfa;
}

.input-field textarea:focus~.note-icon {
    border-color: rgb(0, 191, 255);
}

.input-field textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    padding: 18px 45px 18px 15px;
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.input-field .material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 24px;
    color: #707070;
}

.container .todoLists {
    max-height: 380px;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 15px;
}

.todoLists .list {
    display:flex;
    align-items: center;
    margin-top: 10px;
    list-style: none;
    background-color: #f2f2f2;
    padding: 20px 15px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

}

.todoLists .list input {
    height: 16px;
    min-width: 16px;
    accent-color: #7ddbfa;
     pointer-events: none;
}


.todoLists .list .task {
    margin: 0 30px 0 15px;
    word-break: break-all;
}

.list input:checked ~ .task{
    text-decoration: line-through;
color: rgba(0, 0, 0, 0.672);
}

.todoLists .list i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: #707070;
    padding: 5px;
    opacity: 0.6;
    display:none;
}

.todoLists .list:hover i{
    display: inline-flex;
}

.todoLists .list i:hover {
    opacity: 1;
}

.container .pending-tasks{
    margin-top: 25px;
    
}

.pending-tasks{
    color: #333; 
 
    
}

.pending-tasks .clear-button{
   padding: 6px 12px;
   outline: none;
   border: none;
   background-color: #7ddbfa;
   font-size: small;
   border-radius: 4px;
   cursor: pointer;
   
}
.clear-button{
   margin-left: 20px;
}

.material-symbols-outlined{
    color: #707070;
}



@media (min-width:900px) {
    .clear-button{
        margin-left: 100px; 
    }
}